body{
    margin:0px;
    padding:0px;
    position:fixed;
    overflow:hidden;
    height:100%;
    width:100%;
    background-color: rgba(255, 160, 122, 0.359);
    background-repeat: no-repeat;
    background-size:cover;
    
}




.albumimage1{
    width:15vw;
    height:26vh;
    position:fixed;
    left:calc(45vw - 10vw);
    top:52vh;
}

.albumimage2{
    width:15vw;
    height:26vh;
    position:absolute;
    left:calc(45vw + 10vw);
    top:52vh;
}

.albumimage3{
    width:15vw;
    height:26vh;
    position:absolute;
    left:calc(45vw + 10vw);
    top:calc(50vh - 26vh - 2vw);
}

.albumimage4{
    width:15vw;
    height:26vh;
    position:absolute;
    left:calc(45vw - 10vw);
    top:calc(50vh - 26vh - 2vw);
    

}

.albumimage4 span{
    height:8vh;
    width:10vw;
    position:fixed;
    left:50vw;
    
   

}

.container{
    width:100%;
    height:100%;
}

.fooltxt{
    position:fixed;
    left:20vw;
    top:5vh;;
 text-shadow: -1px -1px 1px rgb(255, 255, 255);
    padding:2px;
    border-radius: 10px;
    font-family:"Grenze Gotisch";
    font-size:25px;
    background-color: rgba(128, 128, 128, 0.27);
}

.redltxt{
    position:fixed;
    right:20vw;
    top:5vh;
    text-shadow: -1px -1px 1px rgb(255, 255, 255);
    padding:2px;
    border-radius: 10px;
    font-family:"Grenze Gotisch";
    font-size:25px;
    background-color: rgba(128, 128, 128, 0.27);
}

.icedtxt{
    position:fixed;
    left:20vw;
    bottom:5vh;
    text-shadow: -1px -1px 1px rgb(255, 255, 255);
    padding:2px;
    border-radius: 10px;
    font-family:"Grenze Gotisch";
    font-size:25px;
    background-color: rgba(128, 128, 128, 0.27);

}

.glueetxt{
    right:20vw;
    position:fixed;
    bottom:5vh;
    text-shadow: -1px -1px 1px rgb(255, 255, 255);
    padding:2px;
    border-radius: 10px;
    font-family:"Grenze Gotisch";
    font-size:25px;
    background-color: rgba(128, 128, 128, 0.27);
    padding-left
   
    
    
}

.blackout{
    pointer-events: none;
    position: fixed;
    opacity: 0;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.766);
    z-index:1001;
    
    

}



  


      .whiteout{
        position: fixed;
        top: 35vh;
        left: 35vw;
        width: 20vw;
        height: 20vh;
        padding: 16px;
        border: 16px solid rgb(181, 210, 221);
        background-color: white;
        z-index:1002;
        font-size:40px;
        line-height: 20vh;  
        text-align:center;    
        
        
        
    }

.check:checked + .blackout{
    opacity:1;
    pointer-events:all;
    


}




.check{
   left:-1000px;
   position:fixed;
}

.chkimg{
    width:2.5vw;
    height:5vh;
    transition:.1s;
   
    
}

.chkimg:hover{
    width:3.75vw;
    height:7.5vh;
    position:relative;
    bottom:0vh;
   
    
}

label h1{
    width:100%;
    height:100%;
    text-align: center;
    font-family: "Grenze Gotisch";

    

    
}

.ximg{
    width:2.5vw;
    height:5vh;
    transition:.1s;
    position:relative;
    bottom:0vh;
}

.ximg:hover{
    width:3.75vw;
    height:7.5vh;
    
}

span{
    background:url(https://www.art-prints-on-demand.com/kunst/julia_ramiro/pintura_04_lo.jpg);
    background-size: contain;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 2px black,inset 0px 0px 10px 2px rgba(0, 0, 0, 0.722);
    padding-left:5px;
    padding-right:5px;
    
   
    
   
    
}


