body{
    margin:0px;
    padding:0px;
    position:fixed;
    overflow:hidden;
    height:100%;
    width:100%;
}

.albumimage1{
    width:15vw;
    height:26vh;
    position:fixed;
    left:calc(45vw - 10vw);
    top:52vh;
}

.albumimage2{
    width:15vw;
    height:26vh;
    position:absolute;
    left:calc(45vw + 10vw);
    top:52vh;
}

.albumimage3{
    width:15vw;
    height:26vh;
    position:absolute;
    left:calc(45vw + 10vw);
    top:calc(50vh - 26vh - 2vw);
}

.albumimage4{
    width:15vw;
    height:26vh;
    position:absolute;
    left:calc(45vw - 10vw);
    top:calc(50vh - 26vh - 2vw);
    

}

.albumimage4 span{
    height:8vh;
    width:10vw;
    position:fixed;
    left:50vw;
    
   

}

.container{
    width:100%;
    height:100%;
}

.fooltxt{
    position:fixed;
    left:20vw;
    top:5vh;;
}

.redltxt{
    position:fixed;
    right:20vw;
    top:5vh;
}

.icedtxt{
    position:fixed;
    left:20vw;
    bottom:5vh;

}

.glueetxt{
    right:20vw;
    position:fixed;
    bottom:5vh;
   
    
    
}

.blackout{
    pointer-events: none;
    position: fixed;
    opacity: 0;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.766);
    z-index:1001;
    
    

}



  


      .whiteout{
        position: fixed;
        top: 35vh;
        left: 35vw;
        width: 20vw;
        height: 20vh;
        padding: 16px;
        border: 16px solid rgb(181, 210, 221);
        background-color: white;
        z-index:1002;
        font-size:40px;
        line-height: 20vh;  
        text-align:center;    
        
        
        
    }

.check:checked + .blackout{
    opacity:1;
    pointer-events:all;
    


}




.check{
   left:-1000px;
   position:fixed;
}

.chkimg{
    width:2.5vw;
    height:5vh;
   
    
}

label h1{
    width:100%;
    height:100%;
    text-align: center;
}

.ximg{
    width:2.5vw;
    height:5vh;
}